/* specific styling for large screen */
@media (width >=530px) {

    h1 {
        font-size: xxx-large;
    }

    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 200px;
        width: 500px;
    }

    .button {
        margin: 35px;
        position: relative;
        top: 38%;
    }

    button {
        height: 30px;
        width: 100px;
    }
}

/* specific styling for medium screen */
@media(350px <=width < 530px) {

    h1 {
        font-size: large;
    }

    .box {
        position: relative;
        top: 20vh;
        left: 50%;
        height: 30vh;
        width: 60vw;
    }

    .time {
        font-size: medium;
    }

    .button {
        margin: 35px;
        position: relative;
        top: 38%;
    }

    button {
        height: 30px;
        width: 70px;
    }
}

/* specific styling for small screen */
@media(width < 350px) {

    h1 {
        font-size: medium;
    }

    .box {
        position: relative;
        top: 20vh;
        left: 50%;
        height: 30vh;
        width: 60vw;
    }

    .time {
        font-size: small;
    }

    .button {
        margin-top: 150px;
    }

    #toggle {
        float: left;
        margin-left: 5vw;
    }

    #reset {
        float: right;
        margin-right: 5vw;
    }

    button {
        height: 25px;
        width: 40px;
        font-size: xx-small;
    }
}