/* generic styling for all screentype */

body {
    background: #424c51;
}

h1 {
    color: rgb(217, 217, 224);
    background-color: rgb(110, 110, 130);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.time {
    text-align: center;
    color: white;
}

.button {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #1c92d2;
    border-radius: 10px;
}

.box {
    background-color: rgb(110, 110, 130);
    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(65, 20, 20);
    transform: translate(-50%, -50%);
    border: 1px solid black;
}